{{> header}}

	{{{contents}}}

    <table>
      <thead>
          <tr>
              <th>Type</th>
              <th>Id</th>
              <th>Updated</th>
          </tr>
        </thead>
        <tbody>
        {{#each contentful.entries}}
          <tr>
              <td>
                {{this.data.sys.contentType.sys.id}}
            </td>
              <td>
                {{this.data.sys.id}}
              </td>
              <td>
                {{this.data.fields.slug}}
              </td>
          </tr>
          {{/each}}
        </tbody>
     </table>
{{> footer}}